html{
  background-color: darkslategrey;
}

.container-fluid{
  background-color: darkslategrey;
}

input[type="text"]{
  background-color: transparent;
  color: white;
}

input[type="text"]:focus{
  background-color: transparent;
  color: white;
}